* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text {
    display: flex;
    justify-content: center;
    margin: 7% 0%;
}

.sec1 {
     display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.vinny {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: solid black;
    margin-right: 30%;
    margin-left: 10%;
    margin-top: 10%;
    padding: 2%;
}

.vinny2 {
    width: 20rem;
    border: solid black;
    
    
}

.sec2 {
   display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.natalie {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: solid black;
    margin-right: 10%;
    margin-left: 30%;
    margin-top: 10%;
    padding: 2%;
}

.nat2 {
    width: 18rem;
    border: solid black;
}

.sec3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.nayan {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: solid black;
    margin-right: 30%;
    margin-left: 10%;
    margin-top: 10%;
    padding: 2%;
}

.nayan2 {
    width: 25rem;
    margin-top: 25%;
    border: solid black;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: #a31b31;
    padding: 2% 2%;
    color: white;
}