* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered {
    text-align: center;
}

.quote {
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    font-size: 20px;
    font-style: italic;
}

main {
    display: block;
    padding: 0% 18%;
}
.img {
    height: auto;
    max-width: 200%;
    margin-bottom: 5%;
    border: solid black;
}

.body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: solid black;
    padding: 5% 2%;
    margin-bottom: 5%;
    font-family: sans-serif;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    padding: 2% 2%;
}

@media (max-width: 576px) {
    .img {
        max-width: 100%;
    }
}