* {
    box-sizing: border-box;
    margin: auto;
}



.infopage{
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
}
.carousel-item {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#carousel{
    padding: 20px;
}
article{
    border:1px solid black;
}
.pg3{
   text-align: center;
}

.d-block w-80 {
    width: 50%;
    height:50%;
}


