.p3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; 
    line-height: 35px;
    background-image: linear-gradient( to right, #8fb9ab, #a6c1d6);
    font-size: 20px;
}
.text{
    padding-top: 20px;
    font-size: 48px;
    color: #e8dd13;
}
.d-block{
    width: 30rem;
    height: 30rem;
    margin:0 auto;
    padding: 20px;
}
article{
    background-color:#c4ebf7;
    border:1px solid black;
    padding: 20px;
    margin-bottom: 10px;
}

@media (min-width:400px)
{
.d-block{
   
    height: 500px;
}
article{
  max-width:900px; 
}
}
footer {
    display: flex;
    justify-content: flex-end;
    background-color: #a31b31;
    padding: 25px 25px;
    color: white;
}

@media (max-width: 500px){
footer {
    margin-top: 10px;
}
.text{
    text-align: center;
}
}

   