.title {
    padding-top: 20px;
}

.centered {
    text-align: center;
}

.box-container {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    padding: 10px 0;
}

.container-2 {
    display: flex;
    justify-content: space-around;
}

.container-2 ul li {
    margin-left: 30px;
}

ul {
    flex-basis: 200px;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.container-3 a {
    color: black;
    font-size: 22px;
}

.container-4 {
    display: flex;
    justify-content: center;
    padding: 20px 0 5px 0;
}

.container-4 button a {
    text-decoration: none;
    color: black;
}

.logo2 {
    width: 12rem;
}

.logo3 {
    width: 10rem;
}

.logo4 {
    width: 8rem;
}

span,
p,
li,
h4 {
    font-size: 22px;
}

@media (min-width: 576px) {
    .box-container {
        max-width: 750px;
        margin: 0 auto;
    }

    .sec-1,
    .sec-2,
    .sec-3 {
        margin-top: 20px;
    }

    ul {
        flex-basis: 320px;
    }

    .logo2 {
        width: 16rem;
    }

    .logo3 {
        width: 12rem;
    }

    .logo4 {
        width: 10rem;
    }
}
