body {
    font-family: sans-serif;
}

main {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    background: linear-gradient(-45deg, #1f21ac, #8ba4d3);
}

.title {
    padding-top: 20px;
    font-size: 48px;
    color: #e8dd13;
}

.centered {
    text-align: center;
}

.box-container {
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #c4ebf7;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    padding: 20px 0 10px;
}

.container-2 {
    display: flex;
    justify-content: space-around;
}

.container-2 ul li {
    margin-left: 30px;
}

ul {
    flex-basis: 225px;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.container-3 a {
    color: black;
    font-size: 22px;
}

.container-4 {
    display: flex;
    justify-content: center;
    padding: 20px 0 5px 0;
}

.container-4 button a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.logo2 {
    width: 12rem;
}

.logo3 {
    width: 10rem;
}

.logo4 {
    width: 8rem;
}

span, p, li, h4 {
    font-size: 22px;
}

.g-button {
    background-color: #de3545;
    border-radius: 8px;
    width: 8rem;
    height: 2.5rem;
}

.g-button:hover {
    opacity: .75;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    padding: 2% 2%;
}

@media (min-width: 576px) {
    .box-container {
        max-width: 850px;
        margin: 0 auto;
    }

    .sec-1,
    .sec-2,
    .sec-3 {
        margin-top: 20px;
    }

    ul {
        flex-basis: 380px;
    }

    .logo2 {
        width: 16rem;
    }

    .logo3 {
        width: 15rem;
    }

    .logo4 {
        width: 10rem;
    }

    .info {
        padding: 20px 20px 10px 20px;
    }
    
    h4 {
        padding-left: 10px;
    }
}
