  * {
      margin: 0;
  }
  
  header {
      display: flex;
      justify-content: center;
      background-color: #17E068;
      padding: 3% 0%;
      margin: 0% 25%;
      
  }
  
  .quote {
    display: flex;
    justify-content: center;
    padding: 2% 0%;
}

  
 img {
    display: flex;
    justify-content: center;
    max-width: 50%;
    height:auto;
    margin: 0% 25%;
}
  
  
.body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: solid black;
    margin: 1% 25%;
}

head {
    max-width: 576px;
}